{% extends 'admin/base_site.html' %}

{% block content %}

<br>
<h3>Would you like to go back to the home page or tick off another badge?</h3>
	

<a href="{% url 'leaders:badge_request_quantity' slug=slug_arg %}" class="btn btn-success btn-lg btn-block"  role="button" aria-pressed="true" style="color: white;"><strong>More badgework</strong></a>
<a href="{% url 'leaders:home' slug=slug_arg %}" class="btn btn-success btn-lg btn-block"  role="button" aria-pressed="true" style="color: white;"><strong>Home page</strong></a>

</div>
<br>
<br><br>

{% endblock %}

