{% extends 'home/home_base.html' %}

{% block body %}
<h2>Form A:</h2>
<form method="post" id="formA">
    {% csrf_token %}
    {{ formA.as_p }}
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="Basic Plan"
    data-name="SORB"
    data-amount="1200"
    data-currency="AUD"
    data-locale="auto"></script>
</form>
<hr>
<h2>Form B:</h2>
<form method="post" id="formB">
    {% csrf_token %}
    {{ formB.as_p }}
    <hr>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="Premium Plan"
    data-name="SORB"
    data-amount="1600"
    data-currency="AUD"
    data-locale="auto"></script>
      </form>

<!--
<!-- Trigger/Open The Modal -->
<button id="myBtnB" class="btn btn-lg btn-block btn-outline-primary">Form B</button>

<!-- The Modal -->
<div id="myModalB" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
	<span class="close" id="closeB">&times;</span>

       <div class="modal-body"> 
    <form method="post" id="formB">
    {% csrf_token %}
    {{ formA.as_p }}
    <hr>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-description="Premium Plan"
    data-name="SORB"
    data-amount="1600"
    data-currency="AUD"
    data-locale="auto"></script>
      </form>
    </div>
	</div>
</div>

<script>



// Get the modal
var modalB = document.getElementById('myModalB');


// Get the button that opens the modal
var btnB = document.getElementById("myBtnB");

// Get the form
var myFormB = document.getElementById("formB");

// Get the <span> element that closes the modal
var spanB = document.getElementById("closeB");

// When the user clicks on <span> (x), close the modal
spanB.onclick = function() {
    modalB.style.display = "none";
}

// When the user clicks the button, open the modal 
btnB.onclick = function() {
    modalB.style.display = "block";
}
window.onclick = function(event) {
    if (event.target == modalB) {
        modalB.style.display = "none";
    }
}

</script>
{% endblock %}