{% extends "home/home_base.html" %}


{% block head %}
<title>Home</title>

{% endblock %}


{% block body %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Choose the right plan for you. If unsure, try out the free trial or contact us for possible deals</p>
    </div>

<div class='container'>
<div class="card-group text-center">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">30 days trial</h1>
            <ul class="list-unstyled mt-3 mb-4">
             <li>12 badge sumbitions per request</li><br>
              <li>Access to scout progress/badgework database</li><br>
              <li>Personal record page for each scout</li><br>
              <li>Online Scout Book</li><br>
              <li>Automated badge report</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-secondary">Get Started</button>
          </div>
        </div>
        <div class="card text-white bg-info mb-3">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Basic Plan</h4>
          </div>
          <div class="card-body">
          	<div style="color: white;">
            <h1 class="card-title pricing-card-title">$12<small>/mo </small></h1>
            <h2 class="card-title pricing-card-title ">OR</h2>
            <h1 class="card-title pricing-card-title">$120<small >/yr</small></h1> 
            </div>           
            <ul class="list-unstyled mt-3 mb-4">
			  <li>3 badge sumbitions per request</li><br>
              <li>Access to scout progress/badgework database</li><br>
             <li>Personal record page for each scout</li><br>

              <li>Priority email support</li><br>
            </ul>
            <div class="register">
			{% include 'home/BPlanModal.html' %}
      </div>
    </div>
        </div>
        <div class="card text-white bg-success mb-3">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
          </div>
          <div class="card-body">
          	<div style="color: white;">
            <h1 class="card-title pricing-card-title">$16<small >/mo </small></h1>
            <h2 class="card-title pricing-card-title ">OR</h2>
            <h1 class="card-title pricing-card-title">$160<small >/yr</small></h1>
        </div>
            <ul class="list-unstyled mt-3 mb-4">
              <li>12 badge sumbitions per request</li><br>
              <li>Access to scout progress/badgework database</li><br>
              <li>Personal record page for each scout</li><br>
              <li>Online Scout Book</li><br>
              <li>Automated badge report</li><br>
              <li>Phone and email support</li>
            </ul>
            <div class="register">
            {% include 'home/PPlanModal.html' %}
            </div>
          </div></div>
      </div>
</div>
<br><br>

{% endblock %}