{% extends 'admin/base.html' %}

{% load static %}
{% load i18n %}

<!-- setup stuff -->
	{% block extrastyle %}
	<!-- Bootstrap stuff -->
	{# JQuery #}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="{% static 'pace/pace.js' %}"></script>
<link href="{% static 'pace/themes/white/pace-theme-flash.css' %}" rel="stylesheet" />
			<link rel="stylesheet" 
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" 
			integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" 
			crossorigin="anonymous">
			<!-- Responsive meta tag -->
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
			<style type="text/css">
			{# To do: fix links color #}

			    {# pace, loader #}

/*a:link, a:visited {
  color: white;
  text-decoration: none;
  }
*/
  </style> 			
			{% block pagestyling %}

			{% endblock %}

	{% endblock %}

	{% block bodyclass %}

	{% endblock %}

{% block branding %}
<h1>{{ request.user.userprofile.troop }} Leader's Admin</h1>
{% endblock %}

<!-- title -->
{% block title %} {{ request.user.userprofile.troop }} Admin {% endblock %}

{% block userlinks %}

{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'leaders:home'  %}">Home</a>  | 
<a href="{% url 'leaders:badge_request_quantity'  %}">Badgework</a> |  
<a href="{% url 'admin:index'  %}">Scout Progress</a>  |  
{% if user.has_usable_password %}
<a href="{% url 'admin:password_change'  %}">Change Password</a> /
 {% endif %}
<a href="{% url 'admin:logout'  %}">Logout</a>
</div>

  {% endblock %}
  {% block welcome-msg %}
            {% endblock %}