{% load i18n %}{% autoescape off %}
{% blocktrans %}Hey there!\nYou're receiving this email because you requested a password reset for your SORB account.{% endblocktrans %}

{% trans "If this was you, please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'login:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "In case you've forgotten, your username is:" %}{{ user.get_username }}
{% trans "Thank you for using SORB" %}

{% blocktrans %}The SORB team{% endblocktrans %}
{% endautoescape %}