{% extends "base.html" %}

{% block body %}
	{% if validlink %}
		<div class="container">
			<br>
			<h1>Enter new password</h1>
			<p>
			</p>
			<form method="post">
				{% csrf_token %}
				{% include 'bf_form.html' with form=form %}
				<button type="submit" class="btn btn-primary">Reset password</button>
			</form>
			{% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}