{% extends 'admin/base_site.html' %}

{% block pagestyling %}
<style type="text/css">
	#group_radio{
    display: grid;
    align-content: inline;
    vertical-align: top;
    grid-template-rows: 25%;
    grid-template-columns: 1fr 1fr 1fr;
}
</style>
{% endblock %}

{% block content_title %}
<div class ="container">
{% endblock %}

{% block content %}
{% if success %}
<div class="alert alert-success" role="alert">
  <strong>Success!</strong> Do you want to head back to the<a href="{% url 'leaders:home' %}" class="alert-link"> Home Page.</a>
</div>
{% endif %}
<div class="container">
<h2>Contact your troop:</h2>
<div class ="form-group">
<form role="form" method="post">
    {% csrf_token %}
        {% include 'bf_form.html' with form=form %}
 <button type="submit" class="btn btn-primary">Send now!</button></form></div>
    </br>
</div>
<br>
<br><br>


<script type="text/javascript">
$(function(){
	$('#group_radio').removeClass("form-control").addClass("container");
	$('#group_radio').contents().replaceWith(function(){
		return $("<div />", {html: $(this).html()});
	});
	$('#group_radio div:empty').remove();
	$('#group_radio div').css({'justify-self': 'center'});
	//replaceWith(function(){
	});

</script>
{% endblock %}

