@page {
	@top-right {
     content: string(title);
   }
 }

 header {
   width: 0;
   height: 0;
   visibility: hidden;
   string-set: title content();
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}